.social-btn{
    border: 1px solid lightgray;
    width:70%;
    box-sizing: border-box;
    border-radius: 57px; 
    cursor: pointer; 
}
.social-img{
    width:25px;
}
.login-form{
    width: 50%;
    height: 400px;
    margin-top:5%;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.login-tag{
    cursor: pointer;
    text-decoration: underline;
}